# Скопировать в .env и заполнить. .env в git не попадает.
POLYMARKET_PRIVATE_KEY=
MY_ADDRESS=0xA2Ec08673F2C2a315D3CcAd1E697E96DE0a8c77f
LEADER_ADDRESS=0x2d99e29c4f066ba32098c65e4c7454b277d94ca3
DATABASE_URL=file:./data/bot.db
